# Entertainment API Keys
OMDB_API=
YTS_API=https://movies-api.accel.li/api/v2/
TMDB_API_KEY=

# Authentication (Single-User)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_to_a_strong_password
AUTH_SECRET=generate_a_strong_secret_using_openssl_rand_base64_32

# Site Public Production URL
SITE_URL=https://your-deployment-url.vercel.app

# Optional Social Media Links
NEXT_PUBLIC_GITHUB_URL=https://github.com/prasad-kmd
NEXT_PUBLIC_EMAIL=contact@example.com
